<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
    <form th:action="@{/books/search}" method="POST">
        <input type="text" name="query" placeholder="Input the query"/>
        <button type="submit">Find</button>
    </form>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <p>The books not found</p>
        </div>
        <div th:if="${!books.isEmpty()}">
            <br>
            <table th:each="book : ${books}">
                <tr>
                    <td th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</td>
                </tr>

                <tr>
                    <td th:if="${book.owner != null}" th:text="'The book is now at: ' + ${book.owner.getFullName()}"></td>
                    <td th:unless="${book.owner != null}">The book is free</td>
                </tr>

                <tr><hr></tr>
            </table>
        </div>
    </div>
</body>
</html>